@page "/crear"
@inject EspecialidadService _service
@inject NavigationManager _navigate


<PageTitle>Nueva</PageTitle>
<h3>Crear</h3>
<br />
<EditForm Model="Especialidad"  OnValidSubmit="@Registrar">
    <div>
        <label>Nombre</label>
        <input type="text" @bind="Especialidad.Nombre" />
    </div>
    <div>
        <label>Descripcion</label>
        <input type="text" @bind="Especialidad.Descripcion" />
    </div>
    <div>
        <label>Precio</label>
        <input type="number" @bind="Especialidad.Precio" />
    </div>
    <div>
        <label>Activo: <input type="checkbox" @bind="Especialidad.Activo"  /></label>
    </div>
    <button type="submit" class="btn btn-success">Registrar</button>
    <button @onclick='() => _navigate.NavigateTo("/listaEspec")' class="btn btn-secondary">Atras</button>
</EditForm>



@code {
    EspecialidadDTO Especialidad = new();
    string mensaje = string.Empty;
    bool exito = false;


    async Task Registrar()
    {
        var response = await _service.Crear(Especialidad);
        try
        {


            if (response.Exito)
            {
                mensaje = response.Mensaje;
                exito = response.Exito;
                _navigate.NavigateTo("/listaEspec");
            }
        }
        catch (Exception ex)
        {
            mensaje = response.Mensaje;
            exito = response.Exito;
        }

    }
}
